In [1]:
import numpy as np# Importing every library we need

In [2]:
import seaborn as sns

In [3]:
import pandas as pd

In [4]:
df = pd.read_csv("datasets.csv")

In [5]:
df.head()# shows the first five rows with all colmuns by default

,market place,Crop Variety,producer min,producer max,many min,many max,single min,single max,amount,collection date
0,Adet Gebeya,White Teff (Quintal),2050.0,2200.0,0,0,2100.0,2250.0,Sufficient,4/1/2019
1,Adet Gebeya,Mixed Teff (Quintal),1850.0,2000.0,0,0,1900.0,2050.0,Sufficient,4/1/2019
2,Adet Gebeya,Red Teff (Quintal),1700.0,1800.0,0,0,1800.0,1850.0,Under,4/1/2019
3,Bichena Gebeya,Red Teff (Quintal),1830.0,1850.0,0,0,1890.0,1960.0,Sufficient,4/2/2019
4,Bichena Gebeya,White Teff (Quintal),2200.0,2400.0,0,0,2250.0,2520.0,Sufficient,4/2/2019

In [6]:
df.info()#tells the number of rows and colmuns of the data

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 60627 entries, 0 to 60626
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   market place     60627 non-null  object
 1   Crop Variety     60627 non-null  object
 2   producer min     60627 non-null  float64
 3   producer max     60627 non-null  float64
 4   many min         60627 non-null  int64
 5   many max         60627 non-null  int64
 6   single min       60627 non-null  float64
 7   single max       60627 non-null  float64
 8   amount           60627 non-null  object
 9   collection date  60627 non-null  object
dtypes: float64(4), int64(2), object(4)
memory usage: 4.6+ MB

In [7]:
df.isnull().sum()# do we have empty or null value in the data ? 1 for yes 0 for no

market place       0
Crop Variety       0
producer min       0
producer max       0
many min           0
many max           0
single min         0
single max         0
amount             0
collection date    0
dtype: int64

In [8]:
df.head(100)# trying to print 100 rows of te data

,market place,Crop Variety,producer min,producer max,many min,many max,single min,single max,amount,collection date
0,Adet Gebeya,White Teff (Quintal),2050.0,2200.0,0,0,2100.0,2250.0,Sufficient,4/1/2019
1,Adet Gebeya,Mixed Teff (Quintal),1850.0,2000.0,0,0,1900.0,2050.0,Sufficient,4/1/2019
2,Adet Gebeya,Red Teff (Quintal),1700.0,1800.0,0,0,1800.0,1850.0,Under,4/1/2019
3,Bichena Gebeya,Red Teff (Quintal),1830.0,1850.0,0,0,1890.0,1960.0,Sufficient,4/2/2019
4,Bichena Gebeya,White Teff (Quintal),2200.0,2400.0,0,0,2250.0,2520.0,Sufficient,4/2/2019
...,...,...,...,...,...,...,...,...,...,...
95,Debere Elias Gebeya,Red Teff (Quintal),1650.0,1700.0,0,0,1750.0,1760.0,Sufficient,4/20/2019
96,Wolaita Soddo,White Teff (Quintal),0.0,0.0,2700,2800,2800.0,2900.0,Under,4/20/2019
97,Wolaita Soddo,Red Teff (Quintal),0.0,0.0,1800,1900,2000.0,2100.0,Under,4/20/2019
98,Wolaita Soddo,Mixed Teff (Quintal),0.0,0.0,2300,2400,2400.0,2500.0,Under,4/20/2019
99,Hawassa,White Teff (Quintal),0.0,0.0,2800,2900,2950.0,3000.0,Sufficient,4/22/2019

In [9]:
df.columns# to see the columns of the data

Index(['market place ', 'Crop Variety', 'producer min', 'producer max',
       'many min', 'many max', 'single min', 'single max', 'amount',
       'collection date'],
      dtype='object')

In [10]:
data2 = df.copy()#incase something happends copy it to anothe store

In [11]:
data2 = data2.dropna()#if there was an empty row in the previos it would totally romove the row

In [12]:
data2.head(10)

,market place,Crop Variety,producer min,producer max,many min,many max,single min,single max,amount,collection date
0,Adet Gebeya,White Teff (Quintal),2050.0,2200.0,0,0,2100.0,2250.0,Sufficient,4/1/2019
1,Adet Gebeya,Mixed Teff (Quintal),1850.0,2000.0,0,0,1900.0,2050.0,Sufficient,4/1/2019
2,Adet Gebeya,Red Teff (Quintal),1700.0,1800.0,0,0,1800.0,1850.0,Under,4/1/2019
3,Bichena Gebeya,Red Teff (Quintal),1830.0,1850.0,0,0,1890.0,1960.0,Sufficient,4/2/2019
4,Bichena Gebeya,White Teff (Quintal),2200.0,2400.0,0,0,2250.0,2520.0,Sufficient,4/2/2019
5,Bichena Gebeya,Mixed Teff (Quintal),2000.0,2100.0,0,0,2150.0,2310.0,Sufficient,4/2/2019
6,Kokit Metema Gebeya,White Teff (Quintal),0.0,0.0,2250,2250,2300.0,2300.0,Sufficient,4/2/2019
7,Kokit Metema Gebeya,Red Teff (Quintal),1800.0,1900.0,0,0,0.0,0.0,Under,4/2/2019
8,Debere Elias Gebeya,White Teff (Quintal),2150.0,2200.0,0,0,2230.0,2250.0,Under,4/2/2019
9,Kokit Metema Gebeya,Mixed Teff (Quintal),0.0,0.0,1900,2000,2050.0,2100.0,Sufficient,4/2/2019

In [13]:
data2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 60627 entries, 0 to 60626
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   market place     60627 non-null  object
 1   Crop Variety     60627 non-null  object
 2   producer min     60627 non-null  float64
 3   producer max     60627 non-null  float64
 4   many min         60627 non-null  int64
 5   many max         60627 non-null  int64
 6   single min       60627 non-null  float64
 7   single max       60627 non-null  float64
 8   amount           60627 non-null  object
 9   collection date  60627 non-null  object
dtypes: float64(4), int64(2), object(4)
memory usage: 4.6+ MB

In [14]:
data2.head(50)

,market place,Crop Variety,producer min,producer max,many min,many max,single min,single max,amount,collection date
0,Adet Gebeya,White Teff (Quintal),2050.0,2200.0,0,0,2100.0,2250.0,Sufficient,4/1/2019
1,Adet Gebeya,Mixed Teff (Quintal),1850.0,2000.0,0,0,1900.0,2050.0,Sufficient,4/1/2019
2,Adet Gebeya,Red Teff (Quintal),1700.0,1800.0,0,0,1800.0,1850.0,Under,4/1/2019
3,Bichena Gebeya,Red Teff (Quintal),1830.0,1850.0,0,0,1890.0,1960.0,Sufficient,4/2/2019
4,Bichena Gebeya,White Teff (Quintal),2200.0,2400.0,0,0,2250.0,2520.0,Sufficient,4/2/2019
5,Bichena Gebeya,Mixed Teff (Quintal),2000.0,2100.0,0,0,2150.0,2310.0,Sufficient,4/2/2019
6,Kokit Metema Gebeya,White Teff (Quintal),0.0,0.0,2250,2250,2300.0,2300.0,Sufficient,4/2/2019
7,Kokit Metema Gebeya,Red Teff (Quintal),1800.0,1900.0,0,0,0.0,0.0,Under,4/2/2019
8,Debere Elias Gebeya,White Teff (Quintal),2150.0,2200.0,0,0,2230.0,2250.0,Under,4/2/2019
9,Kokit Metema Gebeya,Mixed Teff (Quintal),0.0,0.0,1900,2000,2050.0,2100.0,Sufficient,4/2/2019
10,Kokit Metema Gebeya,White Sesame (Quintal),4600.0,4600.0,0,0,0.0,0.0,Sufficient,4/2/2019
11,Debere Elias Gebeya,Mixed Teff (Quintal),1750.0,1800.0,0,0,1820.0,1830.0,Sufficient,4/2/2019
12,Debere Elias Gebeya,Red Teff (Quintal),1650.0,1700.0,0,0,1720.0,1770.0,Sufficient,4/2/2019
13,Humera,White Teff (Quintal),0.0,0.0,2700,2800,0.0,0.0,Sufficient,4/3/2019
14,Humera,Red Teff (Quintal),0.0,0.0,1900,2000,0.0,0.0,Under,4/3/2019
15,Humera,Mixed Teff (Quintal),0.0,0.0,2300,2400,0.0,0.0,Sufficient,4/3/2019
16,Humera,White Sesame (Quintal),4950.0,5080.0,0,0,0.0,0.0,Sufficient,4/3/2019
17,Bahir Dar kebele 04,White Teff (Quintal),0.0,0.0,2500,2550,2600.0,2700.0,Sufficient,4/4/2019
18,Bahir Dar kebele 04,Red Teff (Quintal),0.0,0.0,1800,1850,1950.0,2000.0,Sufficient,4/4/2019
19,Bahir Dar kebele 04,Mixed Teff (Quintal),0.0,0.0,2000,2100,2150.0,2200.0,Sufficient,4/4/2019
20,Debere Elias Gebeya,White Sesame (Quintal),4500.0,4550.0,0,0,0.0,0.0,Sufficient,4/5/2019
21,Debre Markos Huseta Gebeya,Mixed Teff (Quintal),2200.0,2250.0,0,0,2300.0,2350.0,Sufficient,4/6/2019
22,Debre Markos Huseta Gebeya,White Teff (Quintal),2400.0,2450.0,0,0,2450.0,2500.0,Sufficient,4/6/2019
23,Bichena Gebeya,Mixed Teff (Quintal),2000.0,2100.0,0,0,2050.0,2240.0,Sufficient,4/6/2019
24,Bichena Gebeya,Red Teff (Quintal),1890.0,1950.0,0,0,1960.0,2000.0,Sufficient,4/6/2019
25,Bichena Gebeya,White Teff (Quintal),2250.0,2420.0,0,0,2300.0,2450.0,Sufficient,4/6/2019
26,Bure Woreda,White Teff (Quintal),2150.0,2200.0,2250,2275,2285.0,2300.0,Sufficient,4/6/2019
27,Bure Woreda,Red Teff (Quintal),0.0,0.0,0,0,2250.0,2300.0,Under,4/6/2019
28,Bure Woreda,Mixed Teff (Quintal),1900.0,2000.0,2050,2100,2150.0,2230.0,Sufficient,4/6/2019
29,Kokit Metema Gebeya,White Teff (Quintal),2100.0,2100.0,2300,2300,2300.0,2300.0,Over,4/6/2019
30,Kokit Metema Gebeya,Red Teff (Quintal),1800.0,1800.0,0,0,0.0,0.0,Under,4/6/2019
31,Kokit Metema Gebeya,White Sesame (Quintal),4760.0,4760.0,0,0,0.0,0.0,Sufficient,4/6/2019
32,Adet Gebeya,White Teff (Quintal),2050.0,2200.0,0,0,2100.0,2250.0,Sufficient,4/6/2019
33,Kokit Metema Gebeya,Mixed Teff (Quintal),1900.0,1900.0,2100,2150,2000.0,2000.0,Sufficient,4/6/2019
34,Adet Gebeya,Mixed Teff (Quintal),1850.0,2000.0,0,0,1900.0,2050.0,Sufficient,4/6/2019
35,Adet Gebeya,Red Teff (Quintal),1750.0,1800.0,0,0,1800.0,1850.0,Under,4/6/2019
36,Debere Elias Gebeya,Red Teff (Quintal),1650.0,1700.0,0,0,1730.0,1760.0,Sufficient,4/6/2019
37,Debere Elias Gebeya,White Teff (Quintal),2150.0,2200.0,0,0,2250.0,2290.0,Over,4/6/2019
38,Debere Elias Gebeya,Mixed Teff (Quintal),1700.0,1750.0,0,0,1800.0,1820.0,Over,4/6/2019
39,Shindie Gebeya,White Teff (Quintal),2175.0,2200.0,0,0,2200.0,2300.0,Sufficient,4/6/2019
40,Shindie Gebeya,Red Teff (Quintal),1800.0,1850.0,0,0,1860.0,1900.0,Sufficient,4/6/2019
41,Shindie Gebeya,Mixed Teff (Quintal),2100.0,2150.0,0,0,2175.0,2200.0,Sufficient,4/6/2019
42,Humera,White Teff (Quintal),0.0,0.0,2600,2800,0.0,0.0,Sufficient,4/10/2019
43,Humera,Red Teff (Quintal),0.0,0.0,2000,2000,0.0,0.0,Under,4/10/2019
44,Humera,Mixed Teff (Quintal),0.0,0.0,2200,2400,0.0,0.0,Sufficient,4/10/2019
45,Humera,White Sesame (Quintal),5100.0,5150.0,0,0,0.0,0.0,Under,4/10/2019
46,Bahir Dar kebele 04,White Teff (Quintal),0.0,0.0,2300,2400,2350.0,2450.0,Sufficient,4/11/2019
47,Bahir Dar kebele 04,Red Teff (Quintal),0.0,0.0,1700,1800,1800.0,1900.0,Sufficient,4/11/2019
48,Bahir Dar kebele 04,Mixed Teff (Quintal),0.0,0.0,2000,2100,2100.0,2250.0,Sufficient,4/11/2019
49,Debre Markos Huseta Gebeya,White Teff (Quintal),2400.0,2450.0,0,0,2450.0,2500.0,Sufficient,4/13/2019

In [15]:
data2.isnull()

,market place,Crop Variety,producer min,producer max,many min,many max,single min,single max,amount,collection date
0,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...
60622,False,False,False,False,False,False,False,False,False,False
60623,False,False,False,False,False,False,False,False,False,False
60624,False,False,False,False,False,False,False,False,False,False
60625,False,False,False,False,False,False,False,False,False,False
60626,False,False,False,False,False,False,False,False,False,False

In [16]:
data2.columns

Index(['market place ', 'Crop Variety', 'producer min', 'producer max',
       'many min', 'many max', 'single min', 'single max', 'amount',
       'collection date'],
      dtype='object')