In [1]:
import pyforest # imports all libraries in one

In [1]:
active_imports()#showing which library is used yet

[]

In [2]:
# check scikit-learn version
import sklearn
print(sklearn.__version__)

1.0.2

In [3]:
df = pd.read_csv("datasets.csv")

In [4]:
!pip install jupyterthemes

ERROR: Exception:
Traceback (most recent call last):
  File "C:\Users\user\anaconda3\lib\site-packages\pip\_internal\cli\base_command.py", line 173, in _main
    status = self.run(options, args)
  File "C:\Users\user\anaconda3\lib\site-packages\pip\_internal\cli\req_command.py", line 203, in wrapper
    return func(self, options, args)
  File "C:\Users\user\anaconda3\lib\site-packages\pip\_internal\commands\install.py", line 315, in run
    requirement_set = resolver.resolve(
  File "C:\Users\user\anaconda3\lib\site-packages\pip\_internal\resolution\resolvelib\resolver.py", line 94, in resolve
    result = self._result = resolver.resolve(
  File "C:\Users\user\anaconda3\lib\site-packages\pip\_vendor\resolvelib\resolvers.py", line 472, in resolve
    state = resolution.resolve(requirements, max_rounds=max_rounds)
  File "C:\Users\user\anaconda3\lib\site-packages\pip\_vendor\resolvelib\resolvers.py", line 341, in resolve
    self._add_to_criteria(self.state.criteria, r, parent=None)
  File "C:\Users\user\anaconda3\lib\site-packages\pip\_vendor\resolvelib\resolvers.py", line 172, in _add_to_criteria
    if not criterion.candidates:
  File "C:\Users\user\anaconda3\lib\site-packages\pip\_vendor\resolvelib\structs.py", line 151, in __bool__
    return bool(self._sequence)
  File "C:\Users\user\anaconda3\lib\site-packages\pip\_internal\resolution\resolvelib\found_candidates.py", line 140, in __bool__
    return any(self)
  File "C:\Users\user\anaconda3\lib\site-packages\pip\_internal\resolution\resolvelib\found_candidates.py", line 128, in <genexpr>
    return (c for c in iterator if id(c) not in self._incompatible_ids)
  File "C:\Users\user\anaconda3\lib\site-packages\pip\_internal\resolution\resolvelib\found_candidates.py", line 29, in _iter_built
    for version, func in infos:
  File "C:\Users\user\anaconda3\lib\site-packages\pip\_internal\resolution\resolvelib\factory.py", line 272, in iter_index_candidate_infos
    result = self._finder.find_best_candidate(
  File "C:\Users\user\anaconda3\lib\site-packages\pip\_internal\index\package_finder.py", line 851, in find_best_candidate
    candidates = self.find_all_candidates(project_name)
  File "C:\Users\user\anaconda3\lib\site-packages\pip\_internal\index\package_finder.py", line 798, in find_all_candidates
    page_candidates = list(page_candidates_it)
  File "C:\Users\user\anaconda3\lib\site-packages\pip\_internal\index\sources.py", line 134, in page_candidates
    yield from self._candidates_from_page(self._link)
  File "C:\Users\user\anaconda3\lib\site-packages\pip\_internal\index\package_finder.py", line 758, in process_project_url
    html_page = self._link_collector.fetch_page(project_url)
  File "C:\Users\user\anaconda3\lib\site-packages\pip\_internal\index\collector.py", line 490, in fetch_page
    return _get_html_page(location, session=self.session)
  File "C:\Users\user\anaconda3\lib\site-packages\pip\_internal\index\collector.py", line 400, in _get_html_page
    resp = _get_html_response(url, session=session)
  File "C:\Users\user\anaconda3\lib\site-packages\pip\_internal\index\collector.py", line 115, in _get_html_response
    resp = session.get(
  File "C:\Users\user\anaconda3\lib\site-packages\pip\_vendor\requests\sessions.py", line 555, in get
    return self.request('GET', url, **kwargs)
  File "C:\Users\user\anaconda3\lib\site-packages\pip\_internal\network\session.py", line 454, in request
    return super().request(method, url, *args, **kwargs)
  File "C:\Users\user\anaconda3\lib\site-packages\pip\_vendor\requests\sessions.py", line 542, in request
    resp = self.send(prep, **send_kwargs)
  File "C:\Users\user\anaconda3\lib\site-packages\pip\_vendor\requests\sessions.py", line 655, in send
    r = adapter.send(request, **kwargs)
  File "C:\Users\user\anaconda3\lib\site-packages\pip\_vendor\cachecontrol\adapter.py", line 53, in send
    resp = super(CacheControlAdapter, self).send(request, **kw)
  File "C:\Users\user\anaconda3\lib\site-packages\pip\_vendor\requests\adapters.py", line 439, in send
    resp = conn.urlopen(
  File "C:\Users\user\anaconda3\lib\site-packages\pip\_vendor\urllib3\connectionpool.py", line 696, in urlopen
    self._prepare_proxy(conn)
  File "C:\Users\user\anaconda3\lib\site-packages\pip\_vendor\urllib3\connectionpool.py", line 964, in _prepare_proxy
    conn.connect()
  File "C:\Users\user\anaconda3\lib\site-packages\pip\_vendor\urllib3\connection.py", line 359, in connect
    conn = self._connect_tls_proxy(hostname, conn)
  File "C:\Users\user\anaconda3\lib\site-packages\pip\_vendor\urllib3\connection.py", line 500, in _connect_tls_proxy
    return ssl_wrap_socket(
  File "C:\Users\user\anaconda3\lib\site-packages\pip\_vendor\urllib3\util\ssl_.py", line 453, in ssl_wrap_socket
    ssl_sock = _ssl_wrap_socket_impl(sock, context, tls_in_tls)
  File "C:\Users\user\anaconda3\lib\site-packages\pip\_vendor\urllib3\util\ssl_.py", line 495, in _ssl_wrap_socket_impl
    return ssl_context.wrap_socket(sock)
  File "C:\Users\user\anaconda3\lib\ssl.py", line 500, in wrap_socket
    return self.sslsocket_class._create(
  File "C:\Users\user\anaconda3\lib\ssl.py", line 997, in _create
    raise ValueError("check_hostname requires server_hostname")
ValueError: check_hostname requires server_hostname

In [4]:
df.head(10)

,market place,Crop Variety,producer min,producer max,many min,many max,single min,single max,amount,collection date
0,Adet Gebeya,White Teff (Quintal),2050.0,2200.0,0,0,2100.0,2250.0,Sufficient,4/1/2019
1,Adet Gebeya,Mixed Teff (Quintal),1850.0,2000.0,0,0,1900.0,2050.0,Sufficient,4/1/2019
2,Adet Gebeya,Red Teff (Quintal),1700.0,1800.0,0,0,1800.0,1850.0,Under,4/1/2019
3,Bichena Gebeya,Red Teff (Quintal),1830.0,1850.0,0,0,1890.0,1960.0,Sufficient,4/2/2019
4,Bichena Gebeya,White Teff (Quintal),2200.0,2400.0,0,0,2250.0,2520.0,Sufficient,4/2/2019
5,Bichena Gebeya,Mixed Teff (Quintal),2000.0,2100.0,0,0,2150.0,2310.0,Sufficient,4/2/2019
6,Kokit Metema Gebeya,White Teff (Quintal),0.0,0.0,2250,2250,2300.0,2300.0,Sufficient,4/2/2019
7,Kokit Metema Gebeya,Red Teff (Quintal),1800.0,1900.0,0,0,0.0,0.0,Under,4/2/2019
8,Debere Elias Gebeya,White Teff (Quintal),2150.0,2200.0,0,0,2230.0,2250.0,Under,4/2/2019
9,Kokit Metema Gebeya,Mixed Teff (Quintal),0.0,0.0,1900,2000,2050.0,2100.0,Sufficient,4/2/2019

In [7]:
print(df.mean())

producer min    2604.101659
producer max    2668.220131
many min        1429.369489
many max        1464.600393
single min      3702.009633
single max      3807.318447
dtype: float64

C:\Users\user\AppData\Local\Temp\ipykernel_19692\2807316344.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  print(df.mean())

In [6]:
import sklearn

In [7]:
print(sklearn.__version__)

1.0.2

In [9]:
df.mean()# mean value of the whole dataframe

C:\Users\user\AppData\Local\Temp\ipykernel_14424\3698961737.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df.mean()

producer min    2604.101659
producer max    2668.220131
many min        1429.369489
many max        1464.600393
single min      3702.009633
single max      3807.318447
dtype: float64

In [ ]:
pandas.Series.mean()

In [14]:
pandas.df.apply()

NameError: name 'pandas' is not defined

# codes for changing the object columns in to numeric value

In [8]:
dist=(data2['Market Place'])
distset=set(dist)
dd=list(distset)
dictOfWords= {dd[i] : i for i in range(0,len(dd))}
data2['Market Place']=data2['Market Place'].map(dictOfWords)

NameError: name 'data2' is not defined

In [ ]:
dist=(data2['Crop Variety'])
distset=set(dist)
dd=list(distset)
dictOfWords= {dd[i] : i for i in range(0,len(dd))}
data2['Crop Variety']=data2['Crop Variety'].map(dictOfWords)

In [ ]:
dist=(data2['season_names'])
distset=set(dist)
dd=list(distset)
dictOfWords= {dd[i] : i for i in range(0,len(dd))}
data2['season_names']=data2['season_names'].map(dictOfWords)

In [ ]:
dist=(data2['month_column'])
distset=set(dist)
dd=list(distset)
dictOfWords= {dd[i] : i for i in range(0,len(dd))}
data2['month_column']=data2['month_column'].map(dictOfWords)

In [ ]:
dist=(data2['Volume'])
distset=set(dist)
dd=list(distset)
dictOfWords= {dd[i] : i for i in range(0,len(dd))}
data2['Volume']=data2['Volume'].map(dictOfWords)

# MultiOutput Regression Models In Python

In [ ]:
##https://machinelearningmastery.com/multi-output-regression-models-with-python/
from sklearn.datasets import make_regression

In [ ]:
## Create the dataset
X,y =make_regression(n_samples=1500,n_informative=5,n_features=10,n_targets=2)

In [ ]:
X

In [ ]:
y

# Apply Linear Regression

In [ ]:
from sklearn.linear_model import LinearRegression

In [ ]:
lrregression=LinearRegression()
lrregression.fit(X,y)

In [ ]:
test_data=[[-0.35383149,  0.39382202, -2.03033197,  0.08873402, -0.38576581,
        0.0032707 , -0.56476034, -0.67236167,  0.31317233,  1.5208706 ]]

In [ ]:
lrregression.predict(test_data)

# Decision Tree Regression

In [ ]:
from sklearn.tree import DecisionTreeRegressor
dtregressor=DecisionTreeRegressor()
dtregressor.fit(X,y)

In [ ]:
dtregressor.predict(test_data)

# Random Forest Regressor

In [ ]:
from sklearn.ensemble import RandomForestRegressor
rdregressor=RandomForestRegressor()
rdregressor.fit(X,y)

In [ ]:
rdregressor.predict(test_data)

# CrossValidation

In [ ]:
from sklearn.model_selection import cross_val_score

In [ ]:
scores=cross_val_score(rdregressor,X,y,scoring='neg_mean_squared_error',cv=5)

In [ ]:
print(scores)

# simple splitting technique

In [ ]:
>>> import numpy as np
>>> from sklearn.linear_model import LinearRegression
>>> from sklearn.model_selection import train_test_split

In [ ]:
 x_train, x_test, y_train, y_test = train_test_split(
      x, y, test_size=8, random_state=0)

In [ ]:
>>> from sklearn.linear_model import LinearRegression
>>> model = LinearRegression().fit(x_train, y_train)
>>> model.score(x_train, y_train)
0.7668160223286261
>>> model.score(x_test, y_test)
0.6882607142538016

>>> from sklearn.ensemble import GradientBoostingRegressor
>>> model = GradientBoostingRegressor(random_state=0).fit(x_train, y_train)
>>> model.score(x_train, y_train)
0.9859065238883613
>>> model.score(x_test, y_test)
0.8530127436482149

>>> from sklearn.ensemble import RandomForestRegressor
>>> model = RandomForestRegressor(random_state=0).fit(x_train, y_train)
>>> model.score(x_train, y_train)
0.9811695664860354
>>> model.score(x_test, y_test)
0.8325867908704008

# Steps to build model

In [6]:
# check scikit-learn version
import sklearn
print(sklearn.__version__)

1.0.2

In [9]:
# example of multioutput regression test problem
from sklearn.datasets import make_regression
# create datasets
X, y = make_regression(n_samples=1000, n_features=10, n_informative=5, n_targets=2, random_state=1, noise=0.5)
# summarize dataset
print(X.shape, y.shape)

(1000, 10) (1000, 2)

In [10]:
# linear regression for multioutput regression
from sklearn.datasets import make_regression
from sklearn.linear_model import LinearRegression
# create datasets
X, y = make_regression(n_samples=1000, n_features=10, n_informative=5, n_targets=2, random_state=1, noise=0.5)
# define model
model = LinearRegression()
# fit model
model.fit(X, y)
# make a prediction
row = [0.21947749, 0.32948997, 0.81560036, 0.440956, -0.0606303, -0.29257894, -0.2820059, -0.00290545, 0.96402263, 0.04992249]
yhat = model.predict([row])
# summarize prediction
print(yhat[0])

[50.06781717 64.564973  ]

In [11]:
# k-nearest neighbors for multioutput regression
from sklearn.datasets import make_regression
from sklearn.neighbors import KNeighborsRegressor
# create datasets
X, y = make_regression(n_samples=1000, n_features=10, n_informative=5, n_targets=2, random_state=1, noise=0.5)
# define model
model = KNeighborsRegressor()
# fit model
model.fit(X, y)
# make a prediction
row = [0.21947749, 0.32948997, 0.81560036, 0.440956, -0.0606303, -0.29257894, -0.2820059, -0.00290545, 0.96402263, 0.04992249]
yhat = model.predict([row])
# summarize prediction
print(yhat[0])

[-11.73511093  52.78406297]

In [12]:
# decision tree for multioutput regression
from sklearn.datasets import make_regression
from sklearn.tree import DecisionTreeRegressor
# create datasets
X, y = make_regression(n_samples=1000, n_features=10, n_informative=5, n_targets=2, random_state=1, noise=0.5)
# define model
model = DecisionTreeRegressor()
# fit model
model.fit(X, y)
# make a prediction
row = [0.21947749, 0.32948997, 0.81560036, 0.440956, -0.0606303, -0.29257894, -0.2820059, -0.00290545, 0.96402263, 0.04992249]
yhat = model.predict([row])
# summarize prediction
print(yhat[0])

[49.93137149 64.08484989]

# Evaluating them by cross validation Process

In [13]:
# evaluate multioutput regression model with k-fold cross-validation
from numpy import absolute
from numpy import mean
from numpy import std
from sklearn.datasets import make_regression
from sklearn.tree import DecisionTreeRegressor
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import RepeatedKFold
# create datasets
X, y = make_regression(n_samples=1000, n_features=10, n_informative=5, n_targets=2, random_state=1, noise=0.5)
# define model
model = DecisionTreeRegressor()
# define the evaluation procedure
cv = RepeatedKFold(n_splits=10, n_repeats=3, random_state=1)
# evaluate the model and collect the scores
n_scores = cross_val_score(model, X, y, scoring='neg_mean_absolute_error', cv=cv, n_jobs=-1)
# force the scores to be positive
n_scores = absolute(n_scores)
# summarize performance
print('MAE: %.3f (%.3f)' % (mean(n_scores), std(n_scores)))

MAE: 52.261 (3.290)

# Swapping of columns ( Re-Order)

In [17]:
import pandas as pd

In [18]:
df = pd.read_csv("datasets.csv")

In [19]:
df.head()

,market place,Crop Variety,producer min,producer max,many min,many max,single min,single max,amount,collection date
0,Adet Gebeya,White Teff (Quintal),2050.0,2200.0,0,0,2100.0,2250.0,Sufficient,4/1/2019
1,Adet Gebeya,Mixed Teff (Quintal),1850.0,2000.0,0,0,1900.0,2050.0,Sufficient,4/1/2019
2,Adet Gebeya,Red Teff (Quintal),1700.0,1800.0,0,0,1800.0,1850.0,Under,4/1/2019
3,Bichena Gebeya,Red Teff (Quintal),1830.0,1850.0,0,0,1890.0,1960.0,Sufficient,4/2/2019
4,Bichena Gebeya,White Teff (Quintal),2200.0,2400.0,0,0,2250.0,2520.0,Sufficient,4/2/2019

In [21]:
titles = list(df.columns)
titles

['market place ',
 'Crop Variety',
 'producer min',
 'producer max',
 'many min',
 'many max',
 'single min',
 'single max',
 'amount',
 'collection date']

In [22]:
titles[0],titles[1] = titles[1],titles[0]# swaping of the columns with that index

In [23]:
titles#chech

['Crop Variety',
 'market place ',
 'producer min',
 'producer max',
 'many min',
 'many max',
 'single min',
 'single max',
 'amount',
 'collection date']

In [24]:
df.head() # still there

,market place,Crop Variety,producer min,producer max,many min,many max,single min,single max,amount,collection date
0,Adet Gebeya,White Teff (Quintal),2050.0,2200.0,0,0,2100.0,2250.0,Sufficient,4/1/2019
1,Adet Gebeya,Mixed Teff (Quintal),1850.0,2000.0,0,0,1900.0,2050.0,Sufficient,4/1/2019
2,Adet Gebeya,Red Teff (Quintal),1700.0,1800.0,0,0,1800.0,1850.0,Under,4/1/2019
3,Bichena Gebeya,Red Teff (Quintal),1830.0,1850.0,0,0,1890.0,1960.0,Sufficient,4/2/2019
4,Bichena Gebeya,White Teff (Quintal),2200.0,2400.0,0,0,2250.0,2520.0,Sufficient,4/2/2019

In [25]:
df=df[titles]

In [26]:
df.head()

,Crop Variety,market place,producer min,producer max,many min,many max,single min,single max,amount,collection date
0,White Teff (Quintal),Adet Gebeya,2050.0,2200.0,0,0,2100.0,2250.0,Sufficient,4/1/2019
1,Mixed Teff (Quintal),Adet Gebeya,1850.0,2000.0,0,0,1900.0,2050.0,Sufficient,4/1/2019
2,Red Teff (Quintal),Adet Gebeya,1700.0,1800.0,0,0,1800.0,1850.0,Under,4/1/2019
3,Red Teff (Quintal),Bichena Gebeya,1830.0,1850.0,0,0,1890.0,1960.0,Sufficient,4/2/2019
4,White Teff (Quintal),Bichena Gebeya,2200.0,2400.0,0,0,2250.0,2520.0,Sufficient,4/2/2019